.flex-container{
    display: flex;
    flex-flow: row wrap;
}
.product-tegel{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    border: solid #dcebf3 2px;
    border-radius: 0.25rem;
    text-align: left;
    min-height: 500px;
    width: auto;
    margin: 1rem 1rem 1rem 0;
}
button{
    background-color: rgb(133, 59, 167);
    color: white;
    border: none;
    border-radius: 0.75rem;
    width: 15rem;
    padding: 0.2rem;
    margin: 0.75rem;
}
button:hover{
    background-color: transparent;
    color: rgb(133, 59, 167);
    border: solid 2px;
    padding: 0.4rem;
}
button:focus{
    outline: none;
    border: solid 2px green;
}
